.noteLink{
    font-weight: bolder;
    color: #ffffff;
    min-width: 50px;
  background: #4f85bb; /* Old browsers */
background: -moz-linear-gradient(top, #4f85bb 0%, #4f85bb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f85bb), color-stop(100%,#4f85bb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #4f85bb 0%,#4f85bb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #4f85bb 0%,#4f85bb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #4f85bb 0%,#4f85bb 100%); /* IE10+ */
background: linear-gradient(to bottom, #4f85bb 0%,#4f85bb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=0 ); /* IE6-9 */
    padding: 2px 2px 2px 2px;
}
.noteLink .checkImg {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/check.png);
    width: 13px;
    height: 11px;
    position: absolute;
    margin-top: 2px;
}
#titleBar {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/header.png);
}
#scholarTitle {
    color: #000000;
}
#editorFrame span{
     background-image: url(chrome-extension://__MSG_@@extension_id__/images/closeHeader.png);
     width: 20px;
     height: 20px;
    position: absolute !important;
     right: 234px!important;
     top: 2px!important;
}
#editorTa {
    color: rgb(2, 137, 255);
    font-style: italic;
}
.noteLink .addImg {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/add.png);
    width: 13px;
    height: 11px;
    position: absolute;
    margin-top: 2px;
}
.noteLink:hover {
    background: #4e6ab7; /* Old browsers */
background: -moz-linear-gradient(top, #4e6ab7 0%, #5161bc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e6ab7), color-stop(100%,#5161bc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #4e6ab7 0%,#5161bc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #4e6ab7 0%,#5161bc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #4e6ab7 0%,#5161bc 100%); /* IE10+ */
background: linear-gradient(to bottom, #4e6ab7 0%,#5161bc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e6ab7', endColorstr='#5161bc',GradientType=0 ); /* IE6-9 */
}
.noteLink .checkNote {
     color: #ffffff;
    margin-left: 15px;
}
.noteLink .addNote {
     color: #ffffff;
     margin-left: 15px;
}
#editorFrame{
    background-color: #ffffff;
}
#momane_sb{
    display: block;
    color: red;
}
.momane_et{
    display: block;
}
body{
    color: red;
}
